<h1 style="font-family: 'Bookman Old Style'; color: crimson">PhotoSite User List</h1>
<h2 style="font-family: 'Bell MT';">There are <%= @users_all.size %> Users</h2>
<div class="message-board">
  <table border="5" bordercolor="pink" align="center">
    <tr>
      <th>User</th>
      <th>FullName</th>
    </tr>

    <% @users_all.each do |user| %>
      <tr>
        <td align="center" valign="center" height=50 width=50><%= user.id%></td>
        <td align="center" valign="center" height=50 width=50><%= link_to user.first_name+""+user.last_name,user_photo_path(:user_id => user.id,:user_firstname => user.first_name,:user_lastname => user.last_name)%></td>
      </tr>
    <% end %>
  </table>
</div>

